# eclipse
.settings/*
.classpath

# Eclipse files
.project

# Gradle
.gradle

# IDEA files
.idea
*.iml
*.ipr
*.iws

# build folders
com.galenframework.specs.parent/bin/*
com.galenframework.specs.parent/target/*
com.galenframework.specs.parent/.gradle/*
com.galenframework.specs.parent/.settings/*
com.galenframework.specs.parent/com.galenframework.specs/build/*
com.galenframework.specs.parent/com.galenframework.specs/.settings/*
com.galenframework.specs.parent/com.galenframework.specs.ide/bin/*
com.galenframework.specs.parent/com.galenframework.specs.ide/build/
com.galenframework.specs.parent/com.galenframework.specs.ide/target/*
com.galenframework.specs.parent/com.galenframework.specs.ide/.settings/*
com.galenframework.specs.parent/com.galenframework.specs.idea/bin/*
com.galenframework.specs.parent/com.galenframework.specs.idea/build/*
com.galenframework.specs.parent/com.galenframework.specs.idea/target/*
com.galenframework.specs.parent/com.galenframework.specs.idea/.settings/*
com.galenframework.specs.parent/com.galenframework.specs.tests/bin/*
com.galenframework.specs.parent/com.galenframework.specs.tests/target/*
com.galenframework.specs.parent/com.galenframework.specs.tests/.settings/*
com.galenframework.specs.parent/com.galenframework.specs.ui.tests/bin/*
com.galenframework.specs.parent/com.galenframework.specs.ui.tests/target/*
com.galenframework.specs.parent/com.galenframework.specs.ui.tests/.settings/*
com.galenframework.specs.parent/com.galenframework.specs.ui/bin/*
com.galenframework.specs.parent/com.galenframework.specs.ui/target/*
com.galenframework.specs.parent/com.galenframework.specs.ui/.settings/*
com.galenframework.specs.parent/com.galenframework.specs.web/bin/*
com.galenframework.specs.parent/com.galenframework.specs.web/target/*
com.galenframework.specs.parent/com.galenframework.specs.web/.settings/*
com.galenframework.specs.parent/com.galenframework.specs/bin/*
com.galenframework.specs.parent/com.galenframework.specs/target/*
com.galenframework.specs.parent/com.galenframework.specs/.settings/*
samples/.metadata/*
com.galenframework.specs.parent/com.galenframework.specs.target/.classpath
com.galenframework.specs.parent/com.galenframework.specs.target/bin/*
com.galenframework.specs.parent/com.galenframework.specs.target/.settings/*

# Gen folders
com.galenframework.specs.parent/com.galenframework.specs/model/generated/*
com.galenframework.specs.parent/com.galenframework.specs.ide/src-gen/*
com.galenframework.specs.parent/com.galenframework.specs.ide/xtend-gen/*
com.galenframework.specs.parent/com.galenframework.specs.idea/src-gen/*
com.galenframework.specs.parent/com.galenframework.specs.idea/xtend-gen/*
com.galenframework.specs.parent/com.galenframework.specs.tests/src-gen/*
com.galenframework.specs.parent/com.galenframework.specs.tests/xtend-gen/*
com.galenframework.specs.parent/com.galenframework.specs.ui.tests/xtend-gen/*
com.galenframework.specs.parent/com.galenframework.specs.ui.tests/src-gen/*
com.galenframework.specs.parent/com.galenframework.specs.ui/src-gen/*
com.galenframework.specs.parent/com.galenframework.specs.ui/xtend-gen/*
com.galenframework.specs.parent/com.galenframework.specs.web/src-gen/*
com.galenframework.specs.parent/com.galenframework.specs.web/xtend-gen/*
com.galenframework.specs.parent/com.galenframework.specs/src-gen/*
com.galenframework.specs.parent/com.galenframework.specs/xtend-gen/*
com.galenframework.specs.parent/com.galenframework.specs.web/WebRoot/xtext-resources/generated/*
*.xml_gen


com.galenframework.layout.spec.parent/com.galenframework.layout.spec.idea/build/classes/main/com/galenframework/idea/lang/SpecFileType.class
