# eclipse
.settings/*
.classpath

# Eclipse files
.project

# IDEA files
.idea
*.iml
*.ipr
*.iws

# build folders
com.galenframework.layout.spec.parent/bin/*
com.galenframework.layout.spec.parent/target/*
com.galenframework.layout.spec.parent/.gradle/*
com.galenframework.layout.spec.parent/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/build/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ide/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ide/build/
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ide/target/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ide/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.idea/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.idea/build/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.idea/target/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.idea/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.tests/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.tests/target/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.tests/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui.tests/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui.tests/target/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui.tests/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui/target/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.web/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.web/target/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.web/.settings/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/target/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/.settings/*
samples/.metadata/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.target/.classpath
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.target/bin/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.target/.settings/*

# Gen folders
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/model/generated/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ide/src-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ide/xtend-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.idea/src-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.idea/xtend-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.tests/src-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.tests/xtend-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui.tests/xtend-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui.tests/src-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui/src-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ui/xtend-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.web/src-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec.web/xtend-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/src-gen/*
com.galenframework.layout.spec.parent/com.galenframework.layout.spec/xtend-gen/*



com.galenframework.layout.spec.parent/com.galenframework.layout.spec.ide/.settings/gradle.prefs
